.cat {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cat ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.6rem;
}

.cat ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
