.aside {
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
  padding: 3.2rem 2.4rem;
  min-height: 72rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
  margin-bottom: 2.4rem;
}

.aside > h2 {
  color: var(--color-text-500);
  font-weight: 500;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.aside a {
  position: absolute;
  bottom: 2.4rem;
  width: 80%;
}
